html {
    background: url('../imgs/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'pacifico';
    src: url('pacifico/Pacifico.ttf');
}

/*
=============================
NAV BAR
=============================
*/

nav {
    display: block;
    text-align: center;
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display:block; 
    font-family: 'pacifico';
    text-decoration: none;
    padding: 1.4em 2.8em;
    position: relative;
    color: #fff;
    font-size: 18px;
}

.nav{  
  vertical-align: top; 
  display: inline-block;
}

.nav li {
  position: relative;
}


.nav > li { 
  float: left; 
  margin-right: 1px; 
} 

.nav > li > a { 
  margin-bottom: 1px;
}

.nav li i:nth-of-type(1) {
    transition:0.05s 0s;
}
.nav li i:nth-of-type(2) {
    -webkit-transition:0.05s 0.025s;
    -o-transition:0.05s 0.025s;
    transition:0.05s 0.025s;
}
.nav li i:nth-of-type(3) {
    -webkit-transition:0.05s 0.05s;
    transition:0.05s 0.05s;
    transition:0.05s 0.05s;
}
.nav li i:nth-of-type(4) {
    -webkit-transition:0.05s 0.075s;
    -o-transition:0.05s 0.075s;
    transition:0.05s 0.075s;
}
.nav li i:nth-of-type(5) {
    -webkit-transition:0.05s 0.1s;
    transition:0.05s 0.1s;
    transition:0.05s 0.1s;
}
.nav li i:nth-of-type(6) {
    -webkit-transition:0.05s 0.125s;
    -o-transition:0.05s 0.125s;
    transition:0.05s 0.125s;
}
.nav li i:nth-of-type(7) {
    -webkit-transition:0.05s 0.15s;
    -o-transition:0.05s 0.15s;
    transition:0.05s 0.15s;
}
.nav li i:nth-of-type(8) {
    -webkit-transition:0.05s 0.175s;
    -o-transition:0.05s 0.175s;
    transition:0.05s 0.175s;
}
.nav li i:nth-of-type(9) {
    -webkit-transition:0.05s 0.2s;
    -o-transition:0.05s 0.2s;
    transition:0.05s 0.2s;
}

.nav li:hover i {
    color: #19A3FF; 
}

#content {
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    height: 78vh;
    overflow: auto;
    border: 5px solid #19A3FF;
    background-color: rgba(0,0,0,0.6);
}
