html {
    background: url('../imgs/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'pacifico';
    src: url('pacifico/Pacifico.ttf');
}

/*
=============================
NAV BAR
=============================
*/

nav {
    display: block;
    text-align: center;
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display:block; 
    font-family: 'pacifico';
    text-decoration: none;
    padding: 1.4em 2.8em;
    position: relative;
    color: #fff;
    font-size: 1.2em;
}

.nav{  
  vertical-align: top; 
  display: inline-block;
}

.nav li {
  position: relative;
}


.nav > li { 
  float: left; 
  margin-right: 1px; 
} 

.nav > li > a { 
  margin-bottom: 1px;
}

.nav li i:nth-of-type(1) {
    transition:0.05s 0s;
}
.nav li i:nth-of-type(2) {
    -webkit-transition:0.05s 0.025s;
    -o-transition:0.05s 0.025s;
    transition:0.05s 0.025s;
}
.nav li i:nth-of-type(3) {
    -webkit-transition:0.05s 0.05s;
    transition:0.05s 0.05s;
    transition:0.05s 0.05s;
}
.nav li i:nth-of-type(4) {
    -webkit-transition:0.05s 0.075s;
    -o-transition:0.05s 0.075s;
    transition:0.05s 0.075s;
}
.nav li i:nth-of-type(5) {
    -webkit-transition:0.05s 0.1s;
    transition:0.05s 0.1s;
    transition:0.05s 0.1s;
}
.nav li i:nth-of-type(6) {
    -webkit-transition:0.05s 0.125s;
    -o-transition:0.05s 0.125s;
    transition:0.05s 0.125s;
}
.nav li i:nth-of-type(7) {
    -webkit-transition:0.05s 0.15s;
    -o-transition:0.05s 0.15s;
    transition:0.05s 0.15s;
}
.nav li i:nth-of-type(8) {
    -webkit-transition:0.05s 0.175s;
    -o-transition:0.05s 0.175s;
    transition:0.05s 0.175s;
}
.nav li i:nth-of-type(9) {
    -webkit-transition:0.05s 0.2s;
    -o-transition:0.05s 0.2s;
    transition:0.05s 0.2s;
}

.nav li:hover i {
    color: #19A3FF; 
}

/*
=============================
CONTENT
=============================
*/

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 0px;
    height: 78vh;
    border: 5px solid #19A3FF;
    overflow: scroll;
    background-color: rgba(0,0,0,0.8);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content h1 {
    font-family: 'pacifico';
    color: white;
    margin: 10px auto;
    text-align: center;
    text-shadow: 4px 4px 2px #000;
}

.github {
    height: 2.5em;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    position: fixed;
}

.divider {
    width: 100%;
    border: 2px solid white;
    box-shadow: 4px 4px 2px #000;
}

.content h2 {
    font-family: 'pacifico';
    color: white;
    text-decoration: underline;
    display: inline-block;
}

.content h3 {
    font-family: 'pacifico';
    color: white;
    text-decoration: underline;
    display: inline-block;
}

.content p {
    color: #fff;
    font-size: 1em;
    margin-top: -10px;
    display: fixed;
}