@font-face {
  font-family: "Oswald Bold";
  src: url(Oswald-Bold.ttf);
}

@font-face {
  font-family: "Karla Regular";
  src: url(Karla-Regular.ttf);
}

body, div, img {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 10px;
  max-width: 1440px;
}

.logo-container {
  display: inline-block;
  width: auto;
}

.logo {
  display: inline-block;
  width: auto;
}

.logo p {
  color: #b89bc9;
  font-family: "Karla Regular";
  font-size: 64px;
  font-weight: bolder;
  margin-left: 40px;
  margin-top: 27px;
}

.logo p:last-child {
  margin-bottom: 40px;
  margin-top: -15px;
}

.header-links {
  display: inline-block;
  float: right;
  height: 100%;
  width: auto;
}

.header-links a {
  display: inline-block;
}

.header-links p {
  color: #b89bc9;
  font-family: "Oswald Bold";
  float: right;
  font-size: 20px;
  margin-right: 20px;
}

.mobile {
  display: none;
}

.web {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

div {
  width: 100%;
}

img {
  width: 50%;
}

.submit-row {
  background-color: #e8e6e3;
  display: inline-block;
  text-align: center;
}

.submit-row a {
  display: inline-block;
  margin: 20px 0;
}

.submit {
  display: inline-block;
  width: auto;
}

@media only screen and (max-width : 767px) {
  .header {
    display: inline-block;
    margin-top: 20px;
  }

  .logo-container {
    display: block;
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin: 0 auto;
  }

  .logo p {
    margin-left: 0;
    text-align: left;
  }
  
  .header-links {
    display: block;
    text-align: center;
    width: 100%;
  }

  .header-links a {
    display: inline-block;
    margin-left: 20px;    
  }

  .mobile {
    display: block;
  }

  .mobile .submit-row a {
    display: inline-block;
    width: 70%;
  }

  .mobile .submit {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .web {
    display: none;
  }
}