@font-face {
  font-family: "Oswald Bold";
  src: url(Oswald-Bold.ttf);
}

@font-face {
  font-family: "Karla Regular";
  src: url(Karla-Regular.ttf);
}

body, div, img {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1440px;
}

.logo-container {
  display: inline-block;
  width: auto;
}

.logo {
  width: 13vw;
  padding: 0;
  margin: .75vw 0 .5vw 5vw;
}

.logo img {
  width: 100%;
}

.message-container {
  width: 70%;
  float: right;
  text-align: right;
  line-height: 3.5vw;
  font-family: "Karla Regular";
  font-size: 2vw;
  font-style: italic;
  margin-top: 6vw;
  min-height: 4vw;
  padding-right: 1vw;
  color: #76e3ea;
}

.mobile {
  display: none;
}

.web {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

div {
  width: 100%;
}

img {
  width: 50%;
}

.submit-row {
  background-color: #e8e6e3;
  display: inline-block;
  text-align: center;
}

.submit-row a {
  display: inline-block;
  margin: 20px 0;
}

.submit {
  display: inline-block;
  width: auto;
}

@media only screen and (max-width: 1024px) {
  .message-container {
    display: none;
  }
}

@media only screen and (max-width : 767px) {

  .mobile {
    display: block;
  }

  .mobile .submit-row a {
    display: inline-block;
    width: 70%;
  }

  .mobile .submit {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .web {
    display: none;
  }
}