body, div, img {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.mobile {
  display: none;
}

.web {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

div {
  width: 100%;
}

img {
  width: 50%;
}

.submit-row {
  background-color: #e8e6e3;
  display: inline-block;
  text-align: center;
}

.submit-row a {
  display: inline-block;
  margin: 20px 0;
}

.submit {
  display: inline-block;
  width: auto;
}

@media only screen and (max-width : 767px) {
  .mobile {
    display: block;
  }

  .mobile .submit-row a {
    display: inline-block;
    width: 70%;
  }

  .mobile .submit {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .web {
    display: none;
  }
}