@font-face {
  font-family: GothamMedium;
  src: url('fonts/Gotham Medium Regular.ttf');
}

@font-face {
  font-family: WhitneyBook;
  src: url('fonts/Whitney-Book.otf');
}

@font-face {
  font-family: WhitneyBookItalic;
  src: url('fonts/Whitney-BookItalic.otf');
}

@font-face {
  font-family: WhitneyLight;
  src: url('fonts/Whitney-Light.otf');
}

@font-face {
  font-family: WhitneyMedium;
  src: url('fonts/Whitney-Medium.otf');
}

@font-face {
  font-family: WhitneySemibold;
  src: url('fonts/Whitney-Semibold.otf');
}

/* ============================
COMPETITORS NAV
============================ */

.comp-nav {
  background-color: #fff;
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.comp-nav .comp-nav-container {
  padding: 15px 0 0 40px;
}

.comp-nav .comp-wisely-logo {
  height: 35px;
}

/* ============================
COMPETITORS HERO
============================ */

.comp-hero {
  max-height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.comp-hero .comp-hero-wrapper {
  padding-top: 284px;
}

.comp-hero h1 {
  color: #fff;
  font-family: 'WhitneyLight';
  font-size: 33px;
  line-height: 1;
}

.comp-hero p {
  color: #ccc;
  font-family: 'WhitneyLight';
  font-size: 18px;
  font-weight: 100;
  line-height: 1.3;
  padding-top: 24px;
}


.comp-hero .hero-bg {
  background-image: url('img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.comp-hero .comp-hero-dark-filter {
  bottom: 0;
  position: absolute;
  color: #000;
  background-color: rgba(0,0,0,0.7);
  height: 78px;
  width: 100%;
  overflow: hidden;
}

.comp-hero .blue-quote {
  color: #38aac3;
  float: left;
  font-family: 'GothamMedium';
  font-size: 50px;
  padding-left: 10px;
  line-height: 2;
  z-index: 10;
}

.comp-hero .hero-quote-text {
  color: #ccc;
  font-family: 'WhitneyLight';
  font-size: 16px;
  line-height: 1;
  padding: 26px 0 0 68px;
}

.comp-hero .watch-btn {
  background-image: url('img/watch-btn.png');
  height: 46px;
  width: 186px;
}

.comp-hero .comp-iphone-img {
  height: 675px;
  margin-top: 140px;
}

/* ============================
COMPETITORS FEATURES
============================ */

.comp-features .comp-features-wrapper {
  margin-bottom: 80px;
}

.comp-features h2 {
  font-family: 'WhitneySemibold';
  font-size: 28px;
  line-height: 1.35;
  padding: 75px 0 67px 0;
  text-align: center;
}

.comp-features ul {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 auto;
  max-width: 950px;
  overflow: auto;
}

.comp-features li {
  display: inline-block;
  font-family: 'WhitneyLight';
  font-size: 17px;
  text-align: center;
  width: 100%;
}

.comp-features .feature-col {
  border-right: 1px solid #e1e1e1;
}

.comp-features .feature-col li{
  margin: 0 auto;
}

.comp-features .features-text {
  text-align: left;
}

.comp-features li {
  padding: 23px 0;
}

.comp-features .features-header li {
  font-family: 'WhitneyMedium';
  font-size: 13px;
  color: #38aac3;
  padding: 0;
  padding-bottom: 10px;
}

.comp-features .features-others {
  color: #7f7f7f;
}


/* ============================
BEACON HERO
============================ */

.comp-beacon-hero {
  position: relative;
  width: 100%;
}

.comp-beacon-hero .beacon-hero-bg {
  background-image: url('img/beacon-hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 110%;
}

.beacon-hero-wrapper {
  padding: 77px 0 0 20px;
}

.beacon-hero-wrapper h1 {
  color: #fff;
  font-family: 'WhitneySemibold';
  font-size: 38px;
  line-height: 1.1;
}

.beacon-hero-wrapper p {
  color: #fff;
  font-family: 'WhitneyLight';
  font-size: 16px;
  line-height: 1.5;
  margin-top: 26px;
}

.beacon-hero-wrapper img {
  padding-bottom: 124px;
}

/* ============================
COMPETITORS DIAGRAM
============================ */

.comp-diagram .comp-diagram-header {
  padding-top: 100px;
}

.comp-diagram .comp-diagram-header h2 {
  font-family: 'WhitneySemibold';
  font-size: 29px;
  font-weight: 100;
  line-height: 1.2;
  text-align: center;
}

.comp-diagram .comp-diagram-header p {
  font-family: 'WhitneyLight';
  font-size: 20px;
  text-align: center;
}

.comp-diagram .comp-diagram-wrapper {
  padding-top: 90px;
}

.comp-diagram .comp-diagram-wrapper img {
  width: 100%;
}

.comp-diagram .comp-diagram-text {
  clear: both;
  font-family: 'WhitneyBook';
  font-size: 16px;
  padding: 30px 0 100px 0;
  text-align: center;
}

.comp-diagram-wrapper img{
  display: block;
  margin: 0 auto;
  max-width:100%;
}

.comp-diagram-wrapper h3 {
  color: #38aac3;
  font-family: 'WhitneyMedium';
  font-size: 22px;
  padding-top: 37px;
}

.comp-diagram-wrapper .diagram-left{
  text-align: left;
}

.comp-diagram-wrapper .diagram-middle{
  text-align: center;
}

.comp-diagram-wrapper .diagram-right{
  text-align: right;
}

/* ============================
COMPETITORS FORM
============================ */

.comp-form {
  background-color: #363b3c;
  height: 630px;
  text-align: center;
}

.comp-form .comp-form-wrapper {
  padding: 100px 0;
}

.comp-form .comp-form-wrapper h2 {
  color: #fff;
  font-family: 'WhitneySemibold';
  font-size: 30px;
  line-height: 1.3;
}

.comp-form .comp-form-wrapper .comp-form-info {
  margin: 22px auto;
  max-width: 550px;
}

.comp-form .comp-form-wrapper input {
  background-color: #363b3c;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'WhitneyMedium';
  font-size: 20px;
  font-weight: 200;
  height: auto;
  margin: 20px 0 10px 0;
  text-align: center;
  width: 100%;
}

.comp-form .comp-form-wrapper ::-webkit-input-placeholder {
   color: #a9aaaa;
}

.comp-form .comp-form-wrapper :-moz-placeholder {
   color: #a9aaaa;
   opacity: 1;
}

.comp-form .comp-form-wrapper ::-moz-placeholder {
   color: #a9aaaa;
   opacity: 1;
}

.comp-form .comp-form-wrapper :-ms-input-placeholder {  
   color: #a9aaaa;  
}

.comp-form input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

.comp-form input:focus:-moz-placeholder { 
  color:transparent; 
}

.comp-form input:focus::-moz-placeholder { 
  color:transparent; 
}

.comp-form input:focus:-ms-input-placeholder { 
  color:transparent; 
}

/* ============================
COMPETITORS FOOTER
============================ */

.comp-footer .comp-footer-wrapper {
  padding: 70px 0 102px 0px;
}

.comp-footer .comp-footer-wrapper h4 {
  font-family: 'WhitneySemibold';
  font-size: 19px;
  padding-bottom: 24px;
}

.comp-footer .comp-footer-wrapper a {
  color: #38aac3;
  font-family: 'WhitneyBook';
  font-size: 15px;
  text-decoration: none;
}

.comp-footer .comp-footer-wrapper li {
  line-height: 25px;
}

.comp-footer p {
  font-family: 'WhitneyBookItalic';
  font-size: 14px;
  padding-top: 24px;
}

.comp-footer a {
  color: #38aac3;
}

/* ============================
COMPETITORS RESPONSIVE
============================ */

@media screen and (max-width:767px) {
  .comp-hero .comp-hero-wrapper {
    padding: 260px 0 228px 0;
  }

  .comp-hero .comp-hero-dark-filter {
    height: 94px;
  }

  .comp-hero .blue-quote {
    line-height: 120px;
  }

  .comp-features .comp-features-wrapper {
    padding-top: 50px;
  }

  .comp-features ul {
    width: 90%;
  }

  .comp-features h2 {
    line-height: 28px;
    padding-top: 30px;
  }

  .comp-features .features-header {
    border: none;
  }

  .comp-features .feature-col{
    border: none;
  }

  .first-feature {
    border-top: 1px solid #e1e1e1;
  }

  .comp-beacon-hero .beacon-hero-wrapper{
    max-width: 500px;
  }

  .beacon-hero-wrapper img {
    padding-bottom: 64px;
  }

  .comp-diagram .comp-diagram-header {
    padding-top: 50px;
  }

  .comp-footer .comp-footer-wrapper {
    padding: 40px 20px 0 150px;
  }

  .comp-footer .comp-footer-wrapper h4 {
    padding: 30px 0 15px 0;
  }

  .comp-footer img {
    padding: 50px 0 20px 0;
  }

  .comp-footer p {
    padding: 20px 0 115px 0;
  }
}

@media screen and (max-width: 480px) {
  .comp-nav {
    height: 55px;
  }

  .comp-nav .comp-nav-container {
    padding: 10px 0 0 30px;
  }

  .comp-nav .comp-header-logo img {
    height: 35px;
  }

  .comp-hero {
    text-align: center;
  }

  .comp-hero .hero-quote-text {
    text-align: left;
  }

  .comp-hero .comp-hero-wrapper {
    padding: 105px 0 167px 0;
  }

  .comp-hero .comp-hero-info p {
    padding-top: 20px;
  }

  .comp-hero .watch-btn {
    margin: 0 auto;
  }

  .comp-features h2 {
    padding: 0;
    padding-bottom: 20px;
  }  

  .comp-features li {
    padding: 15px 0;
  }

  .comp-features .features-header {
    border: none;
    overflow: visible;
    margin-right: 27px;
  }

  .comp-features .feature-col{
    border: none;
  }

  .comp-diagram .comp-diagram-wrapper {
    padding-top: 30px;
  }

  .comp-diagram .comp-diagram-text {
    padding-bottom: 50px;
  }

  .comp-form .comp-form-wrapper {
    padding: 50px 0;
  }

  .comp-footer .comp-footer-wrapper{
    padding-left: 60px;
  }

  @media screen and (max-width: 419px) {
    .comp-hero .hero-quote-text {
      padding-top: 20px;
    }
  }

}