@font-face {
  font-family: GothamMedium;
  src: url('fonts/Gotham Medium Regular.ttf');
}

@font-face {
  font-family: WhitneyBlack;
  src: url('fonts/Whitney-Black.otf');
}

@font-face {
  font-family: WhitneyBlackItalic;
  src: url('fonts/Whitney-BlackItalic.otf');
}

@font-face {
  font-family: WhitneyBlackItalicSC;
  src: url('fonts/Whitney-BlackItalicSC.otf');
}

@font-face {
  font-family: WhitneyBlackSC;
  src: url('fonts/Whitney-BlackSC.otf');
}

@font-face {
  font-family: WhitneyBold;
  src: url('fonts/Whitney-Bold.otf');
}

@font-face {
  font-family: WhitneyBoldItalic;
  src: url('fonts/Whitney-BoldItalic.otf');
}

@font-face {
  font-family: WhitneyBoldItalicSC;
  src: url('fonts/Whitney-BoldItalicSC.otf');
}

@font-face {
  font-family: WhitneyBook;
  src: url('fonts/Whitney-Book.otf');
}

@font-face {
  font-family: WhitneyBookItalic;
  src: url('fonts/Whitney-BookItalic.otf');
}

@font-face {
  font-family: WhitneyBookItalicSC;
  src: url('fonts/Whitney-BookItalicSC.otf');
}

@font-face {
  font-family: WhitneyBookSC;
  src: url('fonts/Whitney-BookSC.otf');
}

@font-face {
  font-family: WhitneyLight;
  src: url('fonts/Whitney-Light.otf');
}

@font-face {
  font-family: WhitneyLightItalic;
  src: url('fonts/Whitney-LightItalic.otf');
}

@font-face {
  font-family: WhitneyItalicSC;
  src: url('fonts/Whitney-LightSC.otf');
}

@font-face {
  font-family: WhitneyMedium;
  src: url('fonts/Whitney-Medium.otf');
}

@font-face {
  font-family: WhitneyMediumItalic;
  src: url('fonts/Whitney-MediumItalic.otf');
}

@font-face {
  font-family: WhitneyMediumItalicSC;
  src: url('fonts/Whitney-MediumItalicSC.otf');
}

@font-face {
  font-family: WhitneySemibold;
  src: url('fonts/Whitney-Semibold.otf');
}

@font-face {
  font-family: WhitneySemiboldItalic;
  src: url('fonts/Whitney-SemiboldItalic.otf');
}

@font-face {
  font-family: WhitneySemiboldItalicSC;
  src: url('fonts/Whitney-SemiboldItalicSC.otf');
}

@font-face {
  font-family: WhitneyBlack;
  src: url('fonts/Whitney-SemiboldSC.otf');
}

/* ============================
COMPETITORS NAV
============================ */

#comp-nav {
  background-color: #fff;
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#comp-nav .comp-nav-container {
  padding-top: 15px;
  padding-left: 40px;
}

#comp-nav .comp-header-logo img {
  height: 35px;
}

/* ============================
COMPETITORS HERO
============================ */

#comp-hero {
  max-height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#comp-hero .comp-hero-wrapper {
  padding-top: 284px;
}

#comp-hero h1 {
  color: #fff;
  font-family: 'WhitneyLight';
  font-size: 33px;
  line-height: 35px;
}

#comp-hero p {
  color: #ccc;
  font-family: 'WhitneyLight';
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  padding-top: 24px;
}


#comp-hero .hero-bg {
  background-image: url('img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

#comp-hero .comp-hero-dark-filter {
  bottom: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  height: 78px;
  width: 100%;
  overflow: hidden;
}

#comp-hero .blue-quote {
  color: #38aac3;
  float: left;
  font-family: 'GothamMedium';
  font-size: 50px;
  line-height: 100px;
}

#comp-hero .hero-quote-text {
  color: #ccc;
  font-family: 'WhitneyLight';
  font-size: 16px;
  line-height: 18px;
  padding-top: 24px;
  padding-left: 38px;
}

#comp-hero #watch-btn {
  background-image: url('img/watch-btn.png');
  height: 46px;
  width: 186px;
}

#comp-hero .comp-iphone-img {
  height: 815px;
  padding-top: 150px;
}

/* ============================
COMPETITORS FEATURES
============================ */

#comp-features .comp-features-wrapper {
  margin-bottom: 80px;
}

#comp-features h2 {
  font-family: 'WhitneySemibold';
  font-size: 28px;
  line-height: 38px;
  padding-top: 75px;
  padding-bottom: 67px;
  text-align: center;
}

#comp-features ul {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 auto;
  max-width: 950px;
  overflow: auto;
}

#comp-features li {
  display: inline-block;
  font-family: 'WhitneyLight';
  font-size: 17px;
  text-align: center;
  width: 100%;
}

#comp-features .feature-col {
  border-right: 1px solid #e1e1e1;
}

#comp-features .feature-col li{
  margin: 0 auto;
}

#comp-features .features-text {
  text-align: left;
}

#comp-features li {
  padding: 23px 0;
}

#comp-features .features-header li {
  font-family: 'WhitneyMedium';
  font-size: 13px;
  color: #38aac3;
  padding: 0;
  padding-bottom: 10px;
}

#comp-features .features-others {
  color: #7f7f7f;
}


/* ============================
BEACON HERO
============================ */

#comp-beacon-hero {
  position: relative;
  width: 100%;
}

#comp-beacon-hero .beacon-hero-bg {
  background-image: url('img/beacon-hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 110%;
}

.beacon-hero-wrapper {
  padding-left: 20px;
  padding-top: 77px;
}

.beacon-hero-wrapper h1 {
  color: #fff;
  font-family: 'WhitneySemibold';
  font-size: 38px;
  line-height: 42px;
}

.beacon-hero-wrapper p {
  color: #fff;
  font-family: 'WhitneyLight';
  font-size: 16px;
  line-height: 24px;
  margin-top: 26px;
}

.beacon-hero-wrapper img {
  padding-bottom: 124px;
}

/* ============================
COMPETITORS DIAGRAM
============================ */

#comp-diagram .comp-diagram-header {
  padding-top: 100px;
}

#comp-diagram .comp-diagram-header h2 {
  font-family: 'WhitneySemibold';
  font-size: 29px;
  font-weight: 100;
  line-height: 34px;
  text-align: center;
}

#comp-diagram .comp-diagram-header h4 {
  font-family: 'WhitneyLight';
  font-size: 20px;
  text-align: center;
}

#comp-diagram .comp-diagram-wrapper {
  padding-top: 90px;
}

#comp-diagram .comp-diagram-wrapper img {
  width: 100%;
}

#comp-diagram .comp-diagram-text {
  clear: both;
  font-family: 'WhitneyBook';
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 100px;
  text-align: center;
}

.comp-diagram-wrapper img{
  display: block;
  margin: 0 auto;
  max-width:100%;
}

.comp-diagram-wrapper h3 {
  color: #38aac3;
  font-family: 'WhitneyMedium';
  font-size: 22px;
  padding-top: 37px;
}

.comp-diagram-wrapper .diagram-left{
  text-align: left;
}

.comp-diagram-wrapper .diagram-middle{
  text-align: center;
}

.comp-diagram-wrapper .diagram-right{
  text-align: right;
}

/* ============================
COMPETITORS FORM
============================ */

#comp-form {
  background-color: #363b3c;
  height: 630px;
  text-align: center;
}

#comp-form .comp-form-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

#comp-form .comp-form-wrapper h2 {
  color: #fff;
  font-family: 'WhitneySemibold';
  font-size: 30px;
  line-height: 39px;
}

#comp-form .comp-form-wrapper .comp-form-info {
  margin: 22px auto;
  max-width: 550px;
}

#comp-form .comp-form-wrapper input {
  background-color: #363b3c;
  border: 0px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'WhitneyMedium';
  font-size: 20px;
  font-weight: 200;
  height: auto;
  padding-bottom: 10px;
  padding-top: 33px;
  text-align: center;
  width: 100%;
}

#comp-form .comp-form-wrapper ::-webkit-input-placeholder {
   color: #a9aaaa;
}

#comp-form .comp-form-wrapper :-moz-placeholder {
   color: #a9aaaa;
   opacity: 1;
}

#comp-form .comp-form-wrapper ::-moz-placeholder {
   color: #a9aaaa;
   opacity: 1;
}

#comp-form .comp-form-wrapper :-ms-input-placeholder {  
   color: #a9aaaa;  
}

#comp-form input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

#comp-form input:focus:-moz-placeholder { 
  color:transparent; 
}

#comp-form input:focus::-moz-placeholder { 
  color:transparent; 
}

#comp-form input:focus:-ms-input-placeholder { 
  color:transparent; 
}

/* ============================
COMPETITORS FOOTER
============================ */

#comp-footer .comp-footer-wrapper {
  padding: 70px 0 0 70px;
}

#comp-footer .comp-footer-wrapper h4 {
  font-family: 'WhitneySemibold';
  font-size: 19px;
  padding-bottom: 24px;
}

#comp-footer .comp-footer-wrapper a {
  color: #38aac3;
  font-family: 'WhitneyBook';
  font-size: 15px;
  text-decoration: none;
}

#comp-footer .comp-footer-wrapper li {
  line-height: 25px;
}

#comp-footer p {
  font-family: 'WhitneyBookItalic';
  font-size: 14px;
  padding-top: 24px;
}

#comp-footer a {
  color: #38aac3;
}

/* ============================
COMPETITORS RESPONSIVE
============================ */

@media screen and (max-width:767px) {
  #comp-hero .comp-hero-wrapper {
    padding-bottom: 228px;
    padding-top: 260px;
  }

  #comp-hero .comp-hero-dark-filter {
    height: 94px;
  }

  #comp-hero .blue-quote {
    line-height: 120px;
  }

  #comp-hero .hero-quote-text {
    padding-top: 28px;
  }

  #comp-features .comp-features-wrapper {
    padding-top: 50px;
  }

  #comp-features ul {
    width: 90%;
  }

  #comp-features h2 {
    line-height: 28px;
    padding-top: 30px;
  }

  #comp-features .features-header {
    border: none;
  }

  #comp-features .feature-col{
    border: none;
  }

  .first-feature {
    border-top: 1px solid #e1e1e1;
  }

  #comp-beacon-hero .beacon-hero-wrapper{
    max-width: 500px;
  }

  .beacon-hero-wrapper img {
    padding-bottom: 64px;
  }

  #comp-diagram .comp-diagram-header {
    padding-top: 50px;
  }

  #comp-footer .comp-footer-wrapper {
    padding: 40px 20px 0 150px;
  }

  #comp-footer .comp-footer-wrapper h4 {
    padding-bottom: 15px;
    padding-top: 30px;
  }

  #comp-footer img {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  #comp-footer p {
    padding-bottom: 115px;
    padding-top: 20px;
  }
}

@media screen and (max-width:480px) {
  #comp-nav {
    height: 55px;
  }

  #comp-nav .comp-nav-container {
    padding-top: 10px;
    padding-left: 30px;
  }

  #comp-nav .comp-header-logo img {
    height: 35px;
  }

  #comp-hero {
    text-align: center;
  }

  #comp-hero .comp-hero-wrapper {
    padding-top: 105px;
    padding-bottom: 167px;
  }

  #comp-hero #comp-hero-info p {
    padding-top: 20px;
  }

  #comp-hero #watch-btn {
    margin: 0 auto;
  }

  #comp-features h2 {
    padding-top: 0px;
    padding-bottom: 20px;
  }  

  #comp-features li {
    padding: 15px 0;
  }

  #comp-features .features-header {
    border: none;
    overflow: visible;
    margin-right: 27px;
  }

  #comp-features .feature-col{
    border: none;
  }

  #comp-diagram .comp-diagram-wrapper {
    padding-top: 30px;
  }

  #comp-diagram .comp-diagram-text {
    padding-bottom: 50px;
  }

  #comp-form .comp-form-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #comp-footer .comp-footer-wrapper{
    padding-left: 60px;
  }

}