body {
        background-color: #FFEBCD;
        }
      table {
        font-family: sans-serif;
        }
      #title {
        font-size: 3em;
        }
        #names {
          font-size: 1.5em;
        }
        .text-box {
          width: 30%;
          display: table-cell;
          vertical-align: text-top;
          border: 1px solid grey;
          height: cover;
          text-align: left;
          background-color: #FFF0F5;
          margin-right: 1%;
          margin-left: 1%;
        }
        img {
          width: 100%;
        }
        .wrapper {
          height: 100%;
          padding: 4%;
        }