@font-face {
  font-family: Optima;
  src: url(Optima Medium.ttf);
}

body {
  background-image: url('../img/dark_embroidery.png');
  font-size: 1.6em;
}

.container {
  background-image: url('../img/bg.jpg');
  border: 1px solid black;
  font-family: 'Optima';
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 960px;
}

/* =====================
HEADER
===================== */
header {
  background-color: #fff;
  border-bottom: 1px solid black;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

header > div {
  overflow: hidden;
}

header img {
  float: left;
}

.main-nav {
  float: right;
  padding-right: 20px;
}

.main-nav li {
  color: #8a0309;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 30px;
  text-align: right;
  width: 110px;
}

.main-nav li:hover {
  text-decoration: underline;
}

/* =====================
CAROUSEL
===================== */
.carousel {
  height: auto;
  overflow: hidden;
  padding: 5px;
}

#myCarousel {
  margin: 0 auto;
}

.carousel-caption {
  left: 0;
  margin-bottom: 150px;
  margin-left: 60px;
  position: absolute;
  text-align: left;
}

.carousel-caption h1{
  color: #fff;
  font-size: 3em;
}

/* =====================
CONTENT
===================== */
.bold {
  font-weight: bold;
}

.content {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: #fff;
  margin-top: 10px;
}

.content {
  background-image: url("../img/3px-tile.png");
  font-size: 1.4em;
  line-height: 60px;
  padding: 20px;
  text-align: left;
}

/* =====================
SECOND NAV
===================== */
.second-nav {
  background-image: url("../img/hero-bg.png");
  border-bottom: 1px solid black;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.nav-box {
  background-color: #a7a9ac;
  border: 1px solid black;
  text-align: center;
}

.description img {
  width: 100%;
}

/* =====================
FOOTER
===================== */
footer {
  background-color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  overflow: hidden;
}

footer p {
  float: right;
  padding: 10px;
};