@font-face {
  font-family: Optima;
  src: url(Optima Medium.ttf);
}

body {
  background-image: url('../img/dark_embroidery.png');
  font-size: 1.6em;
}

.container {
  background-image: url('../img/bg.jpg');
  border: 1px solid black;
  font-family: 'Optima';
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

/* =====================
HEADER
===================== */
header {
  background-color: #fff;
  border-bottom: 1px solid black;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.main-nav ul {
  bottom: 0;
  right: 0;
  position: absolute;
  list-style-type: none;
}

.main-nav li {
  color: #8a0309;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  padding: 15px;
}

.main-nav li:hover {
  text-decoration: underline;
}

#menu {
  display: none;
}

/* =====================
CAROUSEL
===================== */
.carousel {
  height: auto;
  overflow: hidden;
  padding: 5px;
}

#myCarousel {
  margin: 0 auto;
}

.carousel-caption {
  left: 0;
  top: 30%;
  margin-left: 20px;
  position: absolute;
  text-align: left;
  width: 50%;
}

.carousel-caption h1{
  color: #fff;
  font-size: 3em;
}

/* =====================
CONTENT
===================== */
.bold {
  font-weight: bold;
}

.content {
  border: 1px solid black;
  color: #fff;
  margin-top: 10px;
  background-image: url("../img/3px-tile.png");
  font-size: 1.4em;
  line-height: 60px;
  padding: 20px;
  text-align: left;
}

/* =====================
SECOND NAV
===================== */
.second-nav {
  background-image: url("../img/hero-bg.png");
  border-bottom: 1px solid black;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.nav-box {
  color: black;
  background-color: #a7a9ac;
  border: 1px solid black;
  text-align: center;
}

.description img {
  width: 100%;
}

/* =====================
FOOTER
===================== */
footer {
  background-color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  overflow: hidden;
}

footer p {
  float: right;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .main-nav ul {
    display: none;
  }

  .dropdown-menu {
    display: none;
    width: 100%;
    position: relative;
  }

  .dropdown-menu li {
    text-align: center;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #8a0309;
    font-size: 1.2em;
    font-weight: bold;
  }

  #menu {
    display: block;
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 760px) {
  .carousel-caption {
    top: 10%;
  }
}

@media screen and (max-width: 419px) {
  .carousel-caption {
    top: -20%;
  }
}

/* =====================
page
===================== */

.content-container {
  background-image: url('../img/background.png');
  border: 1px solid black;
  font-family: 'Optima';
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.page-bg {
  width: 100%;
  height: 400px;
  position: absolute;
  margin: 0 auto;
}

.page-wrapper {
  margin: 10px auto;
  height: 400px;
  overflow: hidden;
}

.title {
  color: black;
  font-size: 70px;
  line-height: 1;
  padding: 125px 30px;
  position: relative;
}

.page-content {
  border: 1px solid black;
  color: #fff;
  margin: 10px;
  background-image: url("../img/3px-tile.png");
  font-size: 1.4em;
  padding: 20px;
  height: auto;
  text-align: left;
  overflow: auto;
}

.table {
  display: table;
}

.page-content h1 {
  text-align: center;
}

.page-img {
  width: 100%;
}

.page-content img {
  display: table-cell;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.page-content a {
  color: #fff;
}

.page-text {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.italics {
  font-style: italic;
}

.grid {
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 180px;
  height: 120px;
  float: left;
  margin: 1px;
}

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }