/* FONTS */
@font-face {
  font-family: DIN Condensed;
  src: url(../fonts/din_condensed_cyrillic.woff);
}

@font-face {
  font-family: Shree;
  src: url(../fonts/shreedev0714.woff);
}

@font-face {
  font-family: Karla Regular;
  src: url(../fonts/Karla-Regular.ttf);
}

html, body {
  margin: 0 auto;

  max-width: 1440px;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
}

.row {
  max-width: 1440px;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  text-align: center;
}

ul.pull-right li {
  float: right;
}

.paralax {
  position: absolute;
  margin: 20px;
}

.header .main-header li.border-btn {
  border: 4px solid #90daeb;
  padding: 0 10px;
}

.header .main-header li {
  color: #62cae3;
  font-family: 'DIN Condensed';
  float: left;
  text-transform: uppercase;
  font-size: 1.2vw;
  margin: 1vw 1vw;
  padding: 0 1vw;
  border: solid .25vw transparent;
  align-content: center;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header .main-header {
  display: none;
}

.navbar-toggle {
  float: right;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #62cae3;  
  display: block;
  padding: 6px 8px 4px 8px;
  margin: 0.5vw 0;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar-collapse {
  height: auto;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -webkit-overflow-scrolling: touch;
}

nav>li>a {
  color: #62cae3;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-collapse li {
  color: #62cae3;
  font-family: "DIN Condensed";
  text-align: center;
  text-transform: capitalize;
  border: solid 3px #62cae3;
  text-transform: uppercase;
  margin: 5px;
  font-size: 2.2rem;
  cursor: pointer;
}

.navbar-collapse li a {
  color: #62cae3;
}

.navbar-collapse.collapse {
  display: none!important;
}

.navbar-collapse.in {
  overflow-y: auto;
  padding: 0 15px;
}


nav.navbar-default .navbar-nav>li>a {
  text-align: center;
  text-transform: capitalize;
  border: solid 3px #62cae3;
  color: #62cae3;
  text-transform: uppercase;
  margin: 5px;
  font-size: 2.2rem;
  cursor: pointer;
}

.header .main-header.pull-right li {
  float: right;
}

@media (min-width: 1024px) {
  .header .main-header {
    width: 40%;
    padding-left: 2vw;
    min-height: 5rem;
    list-style: none;
    margin: 0;
    display: block;
  }

  .navbar-toggle {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .header .main-header {
    padding: 0;
  }

  .navbar-collapse {
    display: none;
  }

  .header .main-header li {
    font-size: 2.3rem;
    margin: 2rem 2rem;
    padding: 0 2rem;
    border: solid .4rem transparent;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
  padding: 0 15px;
}


.header img {
  display: inline-block;
  margin: 1vw 0;
  padding: 0 1vw;
}

.quote {
  color: #fff;
  font-family: "DIN Condensed";
  font-size: 51px;
  height: 498px;
  letter-spacing: 10px;
  margin: 0;
  padding-top: 20px;
  width: 100%;
}

.shop-row {
  text-align: center;
}

.shop-row div {
  border: 4px solid #90daeb;
  background-color: #fff;
  color: #90daeb;
  display: inline-block;
  font-family: "DIN Condensed";
  font-size: 45px;
  margin: 40px 5%;
  width: 30%;
}

@media only screen and (min-width : 1440px) {
  .header .main-header li {
    margin: 1vw 0vw;
  }
}

@media only screen and (max-width : 1199px) {
  .paralax {
    display: none;
  }
}

@media only screen and (max-width : 767px) {
  .quote {
    font-size: 48px;
    height: auto;
  }
  .shop-row div {
    font-size: 24px;
  }
}

@media only screen and (max-width : 480px) {
  .quote {
    font-size: 48px;
    height: auto;
  }
}

p {
  line-height: 1.2;
  margin: 0;
}

.quote-name {
  font-size: 24px;
}

.quote-text {
  font-family: "Karla Regular";
  font-size: 20px;
  letter-spacing: normal;
}

.quote-1 {  
  background-image: url(../img/quote-1.jpg);
  background-position: left;
  background-size: cover;
}

.quote-2 {
  background-image: url(../img/quote-2.jpg);
  background-position: right;
  background-size: cover;
}

.quote-3 {
  background-image: url(../img/quote-3.jpg);
  background-position: left;
  background-size: cover;
}

.quote-4 {
  background-image: url(../img/quote-4.jpg);
  background-position: left;
  background-size: cover;
}

.section-header {
  font-family: 'DIN Condensed';
  margin: auto;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #62cae3;
  font-size: 3rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.social-message-icons {
  border-bottom: 1px solid #ddd;
}

.social-message-icons a, .social-message-icons a:hover, .social-message-icons a:visited {
  color: #62cae3;
  font-size: 2rem;
  text-decoration: none;
  min-width: 3rem;
  display: inline-block;
  padding: 1rem;
}

.newsletter {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-top: 1rem;
  color: #666;
  max-width: 1440px;
  margin: auto;
}

.newsletter p {
  font-family: 'Shree';
  margin: 0 0 10px;
}

.site-footer {
  color: #fff;
  background-color: #62cae3;
  text-transform: capitalize;
  font-family: 'ShreeDev0714';
  padding: .5rem 2rem .5rem 2rem;
  font-size: 1.5rem;
}

.site-footer a {
  color: #fff;
}

.newsletter-form {
  font-family: 'DIN Condensed';
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.newsletter-form label {
  color: #62cae3;
  text-transform: uppercase;
  margin: 0 .5rem 0 0;
  line-height: 2.5rem;
  font-size: 2rem;
  margin-right: .25rem;
  vertical-align: middle;
}

.newsletter-form .email-input {
  width: 40vw;
  padding: 0 1rem 0 1rem;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.newsletter-form input.form-control {
  border-radius: 0;
  padding: 0 .5rem;
  width: 100%;
  height: 2.9rem;
  font-size: 2rem;
  background-color: #b6b9ba;
  color: #fff;
}

.newsletter-form .submit {
  padding: .5rem 3rem;
  border: solid 2px #62cae3;
  border-width: .25rem;
  color: #62cae3;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
  margin: .5rem 0 .5rem .5rem;
  line-height: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}