/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.no-padding {
  padding: 0;
}

/* FONTS */
@font-face {
  font-family: DIN Condensed;
  src: url(fonts/din_condensed_cyrillic.woff);
}

@font-face {
  font-family: Shree;
  src: url(fonts/shreedev0714.woff);
}


/* STYLE */

.container {
  font-family: 'DIN Condensed', sans-serif;
  font-weight: lighter;
  margin: 0 auto;
  max-width: 940px;
}

h2 {
  color: #61cbd4;
  font-size: 30px;
  margin-top: 9px;
  text-align: center;
}

h3 {
  color: #fff;
  font-size: 30px;
}

p {
  color: #fff;
  font-family: 'Shree', sans-serif;
  font-size: 15px;  
}

.header {
  margin-top: 17px;
  margin-bottom: 17px;
}

.button {
  background-color: #fff;
  border: 3px solid #61cbd4;
  border-radius: 0;
  color: #61cbd4;
}

.shop-btn {
  float: left;
  font-size: 20px;
  height: 27px;
  line-height: 24px;
  text-align: center;
  width: 95px;
}

.shop-now-btn {
  font-size: 20px;
  float: right;
  height: 27px;
  line-height: 24px;
  margin-right: 49px;
  margin-top: 34px;
  text-align: center;
  width: 101px;
}

.logo {
  display: table;
  margin: 0 auto;
}

.contact {
  color: #61cbd4;
  float: right;
  font-size: 23px;
  margin-top: 5px;
  padding-right: 0;
}

.large-tile {
  position: relative;
}

.shop-now-tile {
  margin-right: 5px;
}

.testimonial-tile {
  margin-left: 5px;
}

.large-tile img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.large-tile-text {
  left: 0;
  padding: 20px 22px;
  padding-bottom: 0;
  position: absolute;
  top: 0;
}

.large-tile-text p {
  padding-top: 10px;
}

.small-tile-row {
  margin-left: -20px;
  margin-right: -20px;
}
.small-tile {
  margin: 0 5px;
  margin-top: 10px;
  position: relative;
}

.small-tile img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.small-tile h3 {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 12px;
  margin-top: 15px;
}

.content img {
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.testimonial-text {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
}

.testimonial-text ul {
  margin-top: 80px;
  width: 40%;
}

.left-testimonials {
  float: left;
  margin-left: 70px;

}

.right-testimonials {
  float: right;
  margin-right: 70px;

}

.testimonial-text li {
  margin: 0 auto;
  margin-top: 40px;
}

.content-text {
  margin-top: 120px;
  padding-left: 0;
  padding-right: 70px;
  position: absolute;
  right:0;
  top: 0;
  width: 42%;
}

.content-text h3 {
  padding-bottom: 20px;
}

.search {
  margin-top: 16px;
  text-align: center;
}

.search form {
  display: table;
  margin: 0 auto;
}

.search label {
  color: #61cbd4;
  display: table-cell;
  font-size: 18px;
  padding-top: 4px;
  vertical-align: middle;
}

.search-box {
  background-color: #bebebe;
  border: none;
  display: table-cell;
  height: 24px;
  margin-left: 8px;
  margin-right: 17px;
  padding-left: 20px;
  width: 335px;
  vertical-align: middle;
}

.search-button {
  display: table-cell;
  font-size: 18px;
  height: 30px;
  line-height: 22px;
  vertical-align: middle;
  width: 99px;
}

.footer {
  background-color: #61cbd4;
  color: #fff;
  font-family: 'Shree';
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.footer ul {
  line-height: 42px;
}

.footer ul li {
  display: inline-block;
  margin-left: 23px;
}

.footer-text {
  margin: 0 auto;
  max-width: 940px;
}

.footer-links {
  float: left;
}

.footer-links li:first-child {
  margin-left: 35px;
}

.contact-info {
  float: right;
}
.contact-info li:last-child{
  margin-right: 35px;
}

@media only screen and (max-width : 992px) {
  .shop-now-tile {
    margin-right: 0;
  }

  .testimonial-tile {
    margin-left: 0;
  }

  .testimonial-text {
    padding: 20px 50px;
  }

  .testimonial-text ul{
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .right-testimonials li:last-child {
    display: none;
  }
}

@media only screen and (max-width : 768px) {

  .testimonial-text-bottom {
    display: none;
  }

  .technology-text {
    display: none;
  }

  .search label {
    display: block;
  }

  .search-box {
    display: block;
    line-height: 28px;
    margin: 5px auto;
  }

  .search-button {
    display: block;
    margin: 0 auto;
  }

  .footer ul li {
    display: block;
    margin: 0;
    text-align: center;
  }

  .footer-links {
    float: none;
  }

  .footer-links li:first-child {
    margin: 0;
  }

  .contact-info {
    float: none;
  }

  .contact-info li:last-child {
    margin: 0;
  }
}
