#menu-bar {
	width: 800px;
	border: 1px solid black;
}

#side-bar {
	width: 200px;
	height: 700px;
	margin: 10px;
	border: 1px solid black;
	margin-left: 600px;
	display: block;
}

#entry-table {
	width: 595px;
	height: 300px;
	border: 1px solid black;
	margin-top: -665px;
	position: absolute;
}

#entry-table2 {
	width: 595px;
	height: 300px;
	border: 1px solid black;
	margin-top: -315px;
	position: absolute;
}

footer {
	border: 1px solid black;
	width: 800px;
	margin-top: 0px;
}

#blog-title {
	margin-top: -705px;
	display: inline;
	position: absolute;
}

#blog-title2 {
	margin-top: -365px;
	display: inline;
	position: absolute;
}