body {
	margin: 30px; 
	background-color: black;
}

#Content {
	width: 800px;
	height: 560px;
	margin: 0px auto;
	text-align: left;
	padding: 10px;
	border: 2px solid white;
	background-color: gray;
	font-family: "Verdana";
	font-size: small;
}

#menu-bar {
	width: 800px;
	margin: 0px auto;
	border: 2px solid white;
}

#picture {
	margin-top: 5px;
	width: 200px;
}

#contact {
	border: 2px solid white;
	float: right;
	margin-top: 5px;
	height: 200px;
	width: 595px;
}

#about {
	border: 2px solid white;
	margin-top: 5px;
	height: 150px;
	width: 800px;
}