body {
	background-color: black;
}

#Content {
	margin: 0px auto;
	text-align: left;
	padding: 10px;
	border: 2px solid white;
	background-color: gray;
	font-family: helvetica;
	font-weight: bold;
	width: 70%;

}

#menu-bar {
	width: 100%;
	margin: 0px auto;
	border: 2px solid white;
	font-family: helvetica;
	font-weight: bold;
}

#picture {
	margin-top: 5px;
	width: 200px;
}

#contact {
	border: 1px solid white;
	float: right;
	margin-top: 5px;
	height: 200px;
	width: 77%;
	font-family: helvetica;
	font-weight: bold;
}

#about {
	border: 2px solid white;
	margin-top: 5px;
	width: 100%;
}

#logo {
	font-family: helvetica;
	font-weight: bold;
	text-shadow: 0px 2px 3px white;
	font-size: 500%
	
}