/* =================
RESET
================= */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body {
  background-image: url(../img/grey.png);
}

#container{
  width: 920px;
  margin: 0 auto;
}

/* =================
FONTS
================= */

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Light.eot); /* IE9 Compat Modes */
  src: url(../fonts/Lato/Lato-Light.eot?#iefix) format(embedded-opentype), /* IE6-IE8 */
       url(../fonts/Lato/Lato-Light.woff) format(woff), /* Pretty Modern Browsers */
       url(../fonts/Lato/Lato-Light.ttf)  format(truetype), /* Safari, Android, iOS */
       url(../fonts/Lato/Lato-Light.svg#svgFontName) format(svg); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBlack';
  src: url(../fonts/Lato/Lato-Bold.eot); /* IE9 Compat Modes */
  src: url(../fonts/Lato/Lato-Bold.eot?#iefix) format(embedded-opentype), /* IE6-IE8 */
       url(../fonts/Lato/Lato-Bold.woff) format(woff), /* Pretty Modern Browsers */
       url(../fonts/Lato/Lato-Bold.ttf)  format(truetype), /* Safari, Android, iOS */
       url(../fonts/Lato/Lato-Bold.svg#svgFontName) format(svg); /* Legacy iOS */
}

/* =================
NAV BAR
================= */

header {
  top: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  position: relative;
  border-bottom: 1px solid #FF0101;
  border-top: 8px solid #FF0101;
  z-index: 100;
  -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

header.sticky {
  height: 65px;
}

#logo {
  margin-left: 10px;
  margin-top: 10px;
  height: 100px;
  -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

#logo.sticky {
  margin-top: 2px;
  height: 60px;
}

#menu {
  font-family: 'LatoBlack';
  color: #000;
  width: 50px;
  display: none;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul {
  bottom: 0;
  right: 0;
  position: absolute;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 15px;
}

nav ul li a {
  font-family: 'Lato';
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}


nav ul li a:hover {
  color: #FF0101;
}



/* =================
NAV ANIMATION
================= */

nav li b:nth-of-type(1) {
  transition:0.05s 0s;
}
nav li b:nth-of-type(2) {
  -webkit-transition:0.05s 0.025s;
  -o-transition:0.05s 0.025s;
  transition:0.05s 0.025s;
}
nav li b:nth-of-type(3) {
  -webkit-transition:0.05s 0.05s;
  -o-transition:0.05s 0.05s;
  transition:0.05s 0.05s;
}
nav li b:nth-of-type(4) {
  -webkit-transition:0.05s 0.075s;
  -o-transition:0.05s 0.075s;
  transition:0.05s 0.075s;
}
nav li b:nth-of-type(5) {
  -webkit-transition:0.05s 0.1s;
  -o-transition:0.05s 0.1s;
  transition:0.05s 0.1s;
}
nav li b:nth-of-type(6) {
  -webkit-transition:0.05s 0.125s;
  -o-transition:0.05s 0.125s;
  transition:0.05s 0.125s;
}
nav li b:nth-of-type(7) {
  -webkit-transition:0.05s 0.15s;
  -o-transition:0.05s 0.15s;
  transition:0.05s 0.15s;
}
nav li b:nth-of-type(8) {
  -webkit-transition:0.05s 0.175s;
  -o-transition:0.05s 0.175s;
  transition:0.05s 0.175s;
}
nav li b:nth-of-type(9) {
  -webkit-transition:0.05s 0.2s;
  -o-transition:0.05s 0.2s;
  transition:0.05s 0.2s;
}

nav li b:nth-of-type(10) {
  -webkit-transition:0.05s 0.225s;
  -o-transition:0.05s 0.225s;
  transition:0.05s 0.225s;
}

nav li b:nth-of-type(11) {
  -webkit-transition:0.05s 0.25s;
  -o-transition:0.05s 0.25s;
  transition:0.05s 0.25s;
}

nav li b:nth-of-type(12) {
  -webkit-transition:0.05s 0.275s;
  -o-transition:0.05s 0.275s;
  transition:0.05s 0.275s;
}

nav li b:nth-of-type(13) {
  -webkit-transition:0.05s 0.3s;
  -o-transition:0.05s 0.3s;
  transition:0.05s 0.3s;
}

nav li b:nth-of-type(14) {
  -webkit-transition:0.05s 0.325s;
  -o-transition:0.05s 0.325s;
  transition:0.05s 0.325s;
}

nav li:hover b {
  color: #FF0101; 
}

/* =================
CAROUSEL
================= */
.carousel {
  width: 100%;
  height: 600px;
  overflow: hidden;
  /*margin-top: 120px*/
}
.carousel div img {
  width: 100%;
  height: auto;
}

.index-text {
  position: relative;
}

/* =================
CONTENT
================= */

.index-text {
  padding-bottom: 25px;
  text-align: center;
}

.index-text h2 {
  font-family: 'LatoBlack';
  font-size: 1.6em;
}

.index-text p {
  font-family: 'Lato';
  font-size: 1.2em;
  padding: 10px;
}

/* =================
FOOTER
================= */

footer {
  z-index: 1;
  background-image: url(../img/overlay-bg.png);
  color: #fff;
  text-align: right;
  font-family: 'Lato';
  font-size: 1em;
  padding: 15px;
}

/* =================
RESPONSIVE
================= */

@media screen and (max-width: 750px) {
  header{
    height: 80px;
  }

  #logo{
    width: auto;
    height: 65px;
  }

  #menu {
    display: block;
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 0;
  }

  #menu:hover {
    color: #FF0101;
  }

  nav ul {
    border-top: 1px solid #FF0101;
    border-bottom: 1px solid #FF0101;
    padding-top: 8px;
    display: none;
    width: 100%;
    position: relative;
    background-image: url(../img/grey.png);
  }

  nav ul li {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  nav a {
    text-align: left;
    width: 100%;
  }

  .carousel {
    margin-top: 90px;
  }
}

@media screen and (max-width: 570px){
  .carousel {
    height: auto;
  }
}