<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/webfonts/walkwayblack_regular_macroman/stylesheet.css" type="text/css" charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>